* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.form-container {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-icon {
  width: 15px;
  height: 15px;
}
.search-form {
  display: flex;
  flex-direction: row;
  position: relative;
}
.search-form > input {
  height: 25px;
  min-width: 230px;
  border-radius: 1px;
  border: none;
  outline: none;
}
.search-form > input:focus-within {
  outline: 3px solid;
  outline-color: lightblue;
}
.search-btn {
  position: absolute;
  right: 0;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
