* {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.svg-icon {
  width: 15px;
  height: 15px;
}

.search-form {
  display: flex;
  flex-direction: row;
  position: relative;
}

.search-form > input {
  height: 25px;
  min-width: 230px;
  border-radius: 1px;
  border: none;
  outline: none;
}

.search-form > input:focus-within {
  outline: 3px solid;
  outline-color: lightblue;
}

.search-btn {
  position: absolute;
  right: 0;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  max-width: 100%;
  position: absolute;
  top: 70px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  margin-inline: auto;
}

.image {
  width: 100%;
  height: 80%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.info-item {
  text-align: center;
}
.load-more {
  margin-inline: auto;
  background-color: darkblue;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 18px;
  width: 150px;
  height: 60px;
}
